@import 'setting.scss';

//============================================================
// iPhone 縦
//============================================================

@media (max-width:640px) {

	// ========================================== //
	// COMMON
	// ========================================== //

	body {
		font-size: 1.3rem;
	}

	// ========================================== //

	.content-block {
		margin-right: $col;
		margin-left: $col;
	}

	.sticky-content {
		padding: 0;
	}

	// ========================================== //

	.l-section-title {
		margin: 0 0 $col;
		padding-top: $col*2;

		.title {
			font-size: 10vw;
		}

		.subt {
			font-size: 4vw;
		}

	}

	.s-section-title {
		margin-bottom: 2em;

		.icon {
			margin-right: .75em;
		}

	}

	//
	.block-title {
		font-size: calc(3vw + 1em);
		margin-bottom: .75em;
	}

	.block-body {
		margin-bottom: $col*2;
	}

	//
	.button {
		font-size: 1.4rem;
		width: 12em;
		height: 3.2em;

		&.size-l {
			width: 14em;
			height: 3.6em;
		}

		& &-bg {
			display: none;
		}

		& &-i {
			width: 20px;
			height: 20px;
			margin-right: .5em;
			margin-bottom: .35em;
		}

	}

	// ========================================== //
	// accordion
	// ========================================== //

	.accordion, .mb-accordion {
		.toggle-icon {
			top: 1.5rem;
			right: 1.5rem;
			width: 4rem;
			height: 4rem;
			padding: 1.25rem;
		}

	}

	// ========================================== //
	// SPLASH
	// ========================================== //

	.splash {
		.splash-logo {
			height: 40vh;
		}

		.splash-copy {
			height: $col*6;
		}

		.splash-indicator {
			height: $col*1.5;
		}

	}

	// ========================================== //
	// NAVI
	// ========================================== //

	.pagenavi {
		width: $col*12;
	}

	// ========================================== //
	// HEADER
	// ========================================== //

	.site-logo {
		padding: 0 .25em;
	}

	.site-social {
		right:calc(#{$col} + 7em);

		a {
			padding: .6em 1em;
		}

		& > ul li {
			margin: 0;
		}

	}

	.site-navi-button {
		margin: 0;
	}

	.page-gallery {
		.site-social {
			right:calc(#{$col} + 10em);
		}

	}

	// ========================================== //
	// FOOTER
	// ========================================== //

	.sct-footer {
		padding: $col*5 0 $col*4;
	}

	.footer-line1 {
		margin-bottom: $col;
	}

	.footer-gotop {
		.icon {
		}

	}

	.footer-corp {
		flex-direction: column;
		width: 100%;
		margin-top: 0;
		justify-content: space-between;
		align-items: flex-start;

		li {
			margin: $col/2 0 0;
		}

	}

	.footer-social {
		.border {
			width: 60%;
		}

	}

	// ========================================== //
	// HOME - MV
	// ========================================== //

	.sct-mv {
		.bg-img-body {
			transform: scale(1.2);
		}

	}

	.mv-label {
		bottom: 55%;
		left: $col*10;
		width: $col*5;
		height: $col*5;

		.txt {
			font-size: 4.8vw;
		}

	}

	.mv-content {
		bottom: 10vh;
		left: $col*3;
		width: $col*10;

		.mv-tagline {
			font-size: 1.4rem;
		}

	}

	.mv-scroll {
		bottom: $col;
		left: $col;
	}

	// ========================================== //
	// HOME - wave
	// ========================================== //

	.mv-wave {
		top: -$col;
	}

	.about-wave {
		margin-top: -$col;
		padding-top: $col*5;

		&-copy {
			top: $col/2;
			right: 0;
			width: $col*6;
			height: $col*6;
		}

		.pict-2 {
			top: $col*2;
			right: $col*10;
			width: $col*5;
			height: $col*5;
		}

		.svg-wave {
			margin-top: 5vw;
		}

		.pict-3 {
			right: $col*0;
			bottom: -$col;
			width: $col*8;
			height: $col*3;
		}

	}

	// ========================================== //
	// HOME - CONCEPT
	// ========================================== //

	.sct-concept {
		padding: 20vh $col*.5 $col*4 $col*1.5;

		.concept {
			font-size: 3.8vw;
			line-height: 1.8em;
			text-align: left;
		}

		.trees {
			top: -10vw;
			left: 3vw;
			width: 18vw;
		}

		.svg-snow {
			top: $col*2;
			left: $col*13;
			width: $col*2;
			height: $col*2;
		}

	}

	.banner {
		overflow: visible;
		width: $col*16;
		min-width: auto;
		border-radius: 50%;
		background: #fff;

		.vheight {
			padding-bottom: 100%;
		}

		.banner-bg {
			top: -15vw;
			right: -10vw;
			overflow: hidden;
			width: 50vw;
			height: 50vw;
			border-radius: 50%;

			.bg-img-body {
				background: 98% 50% no-repeat;
				background-size: auto 110%;
			}

		}

		.banner-txt {
			width: 100%;

			.bg-img-body {
				left: -5%;
				width: 110%;
				background-size: contain;
			}

		}

	}

	.sct-visual1, .sct-visual2 {
		margin-bottom: 0;
	}

	// ========================================== //
	// HOME - LATEST NEWS
	// ========================================== //

	.sct-latest {
		padding: $col*2 $col $col*2;

		.content-block {
			flex-direction: column-reverse;
			width: 100%;
		}

		.pict {
			width: 100%;
			margin-right: -$col;
			justify-content: flex-end;

			.pict-1 {
				width: $col*4;
				padding: 0;
			}

		}

		.latest-news {
			width: 100%;
		}

	}

	// ========================================== //
	// HOME - ABOUT
	// ========================================== //

	.sct-about {
		min-height: auto;
		margin: 0;
		padding-bottom: 10vh;

		.about-body {
			width: auto;
			margin: 0 -$col;
			padding: $col*3 $col*1.5 $col*3.5 $col*2;

			.about-head {
				font-size: 5vw;
				margin-bottom: .5em;
			}

			.about-text {
				margin-right: 0;
				margin-bottom: 2em;
			}

			.rise-txt {
				margin-bottom: 0;
			}

		}

		.about-img {
			position: relative;
			width: $col*15;
			height: $col*10;
			margin-top: -$col*2;
		}

		.rise-txt {
			margin-bottom: 0;
		}

	}

	// ========================================== //
	// HOME - PRODUCTS
	// ========================================== //

	.sct-products {
		padding: $col*2 0 $col*4;
	}

	.products-list {
		&.grid {
			display: block;
		}

		.prod {
			margin-bottom: $col*1;

			.prod-thumb {
				margin-bottom: $col/2;
			}

		}

	}

	// ========================================== //
	// HOME - FEATURE
	// ========================================== //

	.sct-features {
		padding: $col*4 0;

		.features {
			.features-tab {
				.features-tab-grid {
					display: block;
				}

			}

			.feature-img {
				&.single {
					height:calc(#{$col} * 8);

					.bg-img {
						width: $col*9;
						margin-left: auto;
						padding-bottom:calc(#{$col} * 9 * 1.2);
					}

				}

				&.double {
					height:calc(#{$col} * 12);
					margin-bottom: -$col*1;

					.bg-img {
						width: $col*7;

						padding-bottom:calc(#{$col} * 7 * 1.2);
					}

					.img1 {
						top: 0;
					}

					.img2 {
						bottom: 0;
					}

				}

			}

			.feature-img-s {
				width: 50%;
				margin-bottom: $col*1.5;
				padding-bottom: 38%;
			}

			.feature-tab-title {
				font-size: calc(1.5vw + 1em);
				margin-bottom: .75em;
			}

		}

	}

	.feature-mb-ac.mb-accordion {
		padding: 2em 0;

		.ac-body {
			padding: 3em 0 2em;
		}

		.ac-name {
			&-title {
				font-size: 6vw;
			}

			&-subt {
				font-size: 3vw;
			}

		}

		.toggle-icon {
			top: 2em;
		}

	}

	// ========================================== //
	// HOME - PACKAGE
	// ========================================== //

	.sct-package {
		padding: 0 0 $col*4;
	}

	.package {
		&.grid {
			display: block;
			margin: 0;
		}

		.package-img {
		}

		.package-text {
			margin-bottom: 0;
			padding: $col*2 $col*2 $col;
		}

	}

	// ========================================== //
	// HOME - MAKER
	// ========================================== //

	.sct-maker {
		padding: $col*4 $col;
	}

	.maker {
		&.grid {
			display: block;
			margin-right: $col;
			margin-left: $col;
		}

		.maker-img {
			width: 70%;
			margin-left: auto;
			padding-bottom: 50%;
		}

		.maker-text {
			margin-bottom: $col*2;
		}

	}

	// ========================================== //
	// HOME - STORE
	// ========================================== //

	.sct-stores {
		padding: $col*2 0 $col*4;
		background-color: $c_white;

		.s-section-title {
			margin-bottom: 1em;
		}

	}

	.store-ac.accordion {
		.ac-header {
			padding: $col;
		}

		.store-name {
			font-size: 6vw;
		}

		.store-note {
			flex-wrap: wrap;

			.label {
				margin-bottom: .5em;
			}

			.term {
				width: 100%;

				.date {
					font-size: 1.6rem;
				}

			}

		}

		.ac-body {
			padding: 0 $col $col;

			dl {
				grid-template-columns: 6em auto;
			}

		}

	}

	// ========================================== //
	// HOME - NEWS
	// ========================================== //

	.sct-news {
		padding: $col*2 0 $col*4;
	}


	// ========================================== //
	// HOME - POPUP
	// ========================================== //
	.popup-banner {
		right: 0;
		bottom: 0;
		width: 100vw;
		padding: 2em 1.5em 2.5em;
		border-radius: 2px 2px 0 0;

		&-inner {
			align-items: flex-start;
		}

		&-close {
			top: 0;
			right: 0;
		}

		&-thumb {
			width: calc((100vw - 3em)*.3);
			height: calc((100vw - 3em)*.3*1.5);

			.bg-img {
				border-radius: 5em;
			}

		}

		&-text {
			width: calc((100vw - 3em)*.68);
			padding-left: 1.5em;

			.title {
				font-size: calc(2.4vw + 1em);
				margin-top: 0;
				letter-spacing: 0;
			}

			.sub {
				font-size: calc(.8vw + 1em);
			}

			.body {
				font-size: calc(.9vw + .7em);
				width: auto;
				margin-top: .75em;
				margin-bottom: 1.25em;
			}

			.note {
				font-size: calc(.9vw + .6em);
			}

			.arrow {
				top: 110%;
				left: -2%;
				width: $col*.8;
				height: $col*.6;
			}

			.arrow {
				top: 90%;
				left: -5%;
				width: $col*2;
				height: $col*1.6;
			}

		}

		.uline {
			text-decoration: underline;

			&:after {
				display: none;
			}

		}

		.button {
			width: 100%;
		}

	}

	.fixed-banner-button {
		right: 2vh;
		bottom: 2vh;
		width: $col*3;
		height: $col*3;

		.button-i {
			width: 28px;
			height: 30px;
		}

	}

	// ========================================== //
	// SUBPAGE - MV
	// ========================================== //

	.sct-pagetop {
		height: 70vh;
	}

	.pagetop-content {
		.page-title {
			font-size: 8vw;
		}

		.page-title-ja {
			font-size: 4vw;
		}

	}

	// ========================================== //
	// PAGE : TERMS
	// ========================================== //

	.terms-foreword {
		font-size: 1.3rem;
	}

	.terms-article {
		font-size: 1.3rem;

		.terms-data {
			dt {
				font-size: 1.8rem;
				line-height: 2;
				margin-bottom: 2em;
			}

			dd {
				margin-left: 0;
			}

		}

		ul, ol {
			margin-left: 1.5em;
		}

	}

	// ========================================== //
	// PAGE : GALLERY
	// ========================================== //

	.gallery-top {
		height: 50vh;
	}

	.gallery-intro {
		padding: $col*3 $col*1;

		&-inner {
			display: block;
		}

		&-img {
			width: $col*8;
			height: $col*10;
			margin-bottom: 1em;
			margin-left: auto;
		}

		&-head {
			h2 {
				font-size: 5.4vw;
			}

		}

		&-body {
			font-size: 1.4rem;
			padding-top: $col;
		}

	}

	.gallery-main {
		padding: $col*2 0 0;

		.gallery-head {
			font-size: 2em;
			left: $col;
		}

		.profile-toggle {
			font-size: 1.2rem;
			left: $col;
		}

	}

	.gallery-slider {
		margin-bottom: $col*4;

		.slide {
			width: 75vw;
			height: 100vw;
			max-height: auto;
			margin: $col*2 auto !important;
		}

	}

	.gallery-profile {
		&-head {
			.name {
				font-size: 5.4vw;
			}

			.year {
				font-size: 1.2rem;
			}

		}

	}

	.gallery-footer {
		height: 30vh;

		&-en {
		}

		&-ja {
			margin-bottom: 0;
		}

	}


}