<template>
  <div data-barba="container" data-barba-namespace="gallery">
    <div class="scroll-window">
      <div class="scroll-content js-scrollAll">
        <div class="page-origin">
          <section class="gallery-top  js-inview" data-sct="top">
            <div class="js-img bg-img in  js-parallax" data-powy=".2" data-src="/assets/img/img-gallery-top.jpg" data-src2x="/assets/img/img-gallery-top-hi.jpg" data-srcmb="/assets/img/img-gallery-top-mb-hi.jpg"></div>
          </section>

          <div class="background-white">
            <section class="gallery-intro" data-sct="intro">
              <h2 class="gallery-headline block-title js-inview">
                <div><span class="rise-txt">⼭の版画家</span></div>
                <div><span class="rise-txt">⼤⾕⼀良さんとの出会い</span></div>
              </h2>

              <div class="gallery-intro-inner">
                <div class="gallery-intro-head js-inview">
                  <div class="gallery-intro-img js-inview">
                    <div class="js-img bg-img  js-parallax" data-powy=".1" data-src="/assets/img/img-gallery-story.jpg" data-src2x="/assets/img/img-gallery-story-hi.jpg"></div>
                  </div>
                </div>
                <div class="gallery-intro-body js-inview">
                  <p class="rise-block">2019年の春、私たちは「北海道を代表するお菓⼦を作る」という目標をもってお菓⼦とブランドの開発を始めました。その時にキーワードにしたのが「⼭とスキー」でした。雪と⼭を想起させるそれらの⾔葉に合うようなイメージを探した先に出会ったのが「アルプ」の表紙を飾った大谷さんの版画でした。</p>
                  <p class="rise-block">そこから、偶然にも北海道に「北のアルプ美術館」があることを知り、館⾧の山崎さんとお話をしご紹介いただいたのが、⼤⾕さんのご家族でした。</p>
                  <p class="rise-block">新型コロナウイルスの影響で旅⾏者が激減したため、元々描いていた「北海道を代表するお菓⼦」ではなく「冬を代表するお菓⼦」として再出発することに決めた際にも、「どこか特定の⼭ではなく記憶の中の⼭」という⼤⾕さんの絵は、変わらず我々の目指すイメージを体現し続けてくれました。</p>
                  <p class="rise-block">ここに⼤⾕さんをご紹介させていただくことで、北のアルプ美術館館⾧の山崎猛さんへの感謝と、快く利⽤の許可をいただいた⼤⾕さんのご家族、そして何よりも⼤⾕一良さんに感謝と敬意を込めて。</p>
                </div>
              </div>
            </section>

            <section class="gallery-main" data-sct="gallery">
              <div class="gallery-head  js-inview">
                <h2><span class="rise-txt">大谷一良ギャラリー</span></h2>
              </div>
              <div data-scroll-to="profile" class="profile-toggle scroll-to  js-inview js-hov">
                <div class="profile-toggle-body slot-chars">
                  <div class="profile-toggle-body-text">
                    <div class="toggle-text off open">
                      <div class="slot slot-t1 charwrap">プロフィール</div><div class="slot slot-t2 charwrap">プロフィール</div>
                    </div>
                    <div class="toggle-text on close">
                      <div class="slot slot-t1 charwrap">クローズ</div><div class="slot slot-t2 charwrap">クローズ</div>
                    </div>
                  </div>
                </div>

                <div class="underline">
                  <div class="u-border"></div>
                  <div class="u-wave">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><pattern id="pattern-b" x="0" y="0" width="80" height="80" patternUnits="userSpaceOnUse" patternTransform="matrix(0.1 0 0 -1 -10 -10)"><path fill="none" class="wave" d="M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40" /></pattern><rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-b)" /></svg>
                  </div>
                </div>
              </div>

              <div class="gallery-slider slide-wrap" data-padding="0.05" data-margin="0.6" data-type="ratio" data-ease="0.1">
                <div class="slide-scale">
                  <div class="slide-body">
                    <div class="slide  js-inview">
                      <div class="in">
                        <div class="gallery-img  f-img-in">
                          <div class="js-img bg-img ri-in" data-src="/assets/img/gallery/gallery-2004.jpg" data-src2x="/assets/img/gallery/gallery-2004-hi.jpg"></div>
                        </div>
                        <div class="caption"><span class="rise-txt">「春を待つ日」2004</span></div>
                      </div>
                    </div>
                    <div class="slide  js-inview">
                      <div class="in">
                        <div class="gallery-img  f-img-in">
                          <div class="js-img bg-img ri-in" data-src="/assets/img/gallery/gallery-2003.jpg" data-src2x="/assets/img/gallery/gallery-2003-hi.jpg"></div>
                        </div>
                        <div class="caption"><span class="rise-txt">「早暁の谷」2003</span></div>
                      </div>
                    </div>
                    <div class="slide  js-inview">
                      <div class="in">
                        <div class="gallery-img  f-img-in">
                          <div class="js-img bg-img ri-in" data-src="/assets/img/gallery/gallery-2009.jpg" data-src2x="/assets/img/gallery/gallery-2009-hi.jpg"></div>
                        </div>
                        <div class="caption"><span class="rise-txt">「森の見る夢」2009</span></div>
                      </div>
                    </div>
                    <div class="slide  js-inview">
                      <div class="in">
                        <div class="gallery-img  f-img-in">
                          <div class="js-img bg-img ri-in" data-src="/assets/img/gallery/gallery-2005.jpg" data-src2x="/assets/img/gallery/gallery-2005-hi.jpg"></div>
                        </div>
                        <div class="caption"><span class="rise-txt">「花舞う日」2005</span></div>
                      </div>
                    </div>
                    <div class="slide  js-inview">
                      <div class="in">
                        <div class="gallery-img  f-img-in">
                          <div class="js-img bg-img ri-in" data-src="/assets/img/gallery/gallery-2000.jpg" data-src2x="/assets/img/gallery/gallery-2000-hi.jpg"></div>
                        </div>
                        <div class="caption"><span class="rise-txt">「山稜峨々」2000</span></div>
                      </div>
                    </div>
                    <div class="slide  js-inview">
                      <div class="in">
                        <div class="gallery-img  f-img-in">
                          <div class="js-img bg-img ri-in" data-src="/assets/img/gallery/gallery-1999_2.jpg" data-src2x="/assets/img/gallery/gallery-1999_2-hi.jpg"></div>
                        </div>
                        <div class="caption"><span class="rise-txt">「雪山遠望」1999</span></div>
                      </div>
                    </div>
                    <div class="slide  js-inview">
                      <div class="in">
                        <div class="gallery-img  f-img-in">
                          <div class="js-img bg-img ri-in" data-src="/assets/img/gallery/gallery-1999.jpg" data-src2x="/assets/img/gallery/gallery-1999-hi.jpg"></div>
                        </div>
                        <div class="caption"><span class="rise-txt">「森の宴」1999</span></div>
                      </div>
                    </div>
                    <div class="slide  js-inview">
                      <div class="in">
                        <div class="gallery-img  f-img-in">
                          <div class="js-img bg-img ri-in" data-src="/assets/img/gallery/gallery-1992.jpg" data-src2x="/assets/img/gallery/gallery-1992-hi.jpg"></div>
                        </div>
                        <div class="caption"><span class="rise-txt">「平野の緑」1992</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">0</div>
              </div>

              <div class="gallery-profile-ovarlay"></div>
              <section class="gallery-profile" data-sct="profile">
                <div class="gallery-profile-bg"></div>
                <div class="sct-description">アーティストプロフィール</div>
                <div class="gallery-profile-inner">
                  <div class="gallery-profile-head flex">
                    <h3 class="name">大谷一良</h3>
                    <span class="year">（1933-2014）</span>
                  </div>
                  <div class="gallery-profile-body">
                    <p>1933年東京⽣まれ。’57年東京外国語⼤学スペイン語科卒業。総合商社の勤めを終え、’96年よりフリーの版画家。この間、畦地梅太郎⽒に私淑、「アルプ」をはじめ「まいんべるく」「⼭と渓⾕」「⼼」「岳⼈」などに表紙画やカット、⽂章を発表。’80年代から個展や共同展を毎年のように開催。著書に「⼭のかけら」「⼭の絵葉書」「⾵のディヴェルティメント」など、共著に「⼭のＡＢＣ」「忘れ得ぬ⼭」など多数。⼭岳関連書の装丁・装画も数多く⼿がけた。</p>
                  </div>
                </div>
              </section>
            </section>
          </div>

          <footer class="gallery-footer js-inview" data-sct="footer">
            <a href="/" class="">
              <div class="gallery-footer-en">
                <div class="rise-txt">
                  <div class="slot-chars">
                    <div class="slot slot-t1 charwrap">BACK</div><div class="slot slot-t2 charwrap">BACK</div>
                  </div>
                </div>
              </div>

              <div class="rise-txt">
                <div class="gallery-footer-ja flex a-uline">
                  <span class="button-i"><svg class="icon-return" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M27.47,29.93H8.77V27.88h18.7a5.32,5.32,0,0,0,0-10.64H8.77v-2h18.7a7.37,7.37,0,0,1,0,14.73Z" /><path d="M12.94,22.77,6.31,16.22l6.63-6.55,1.39,1.47L9.19,16.22l5.14,5.08Z" /></svg></span>
                  <span class="button-t">ホームに戻る</span>
                </div>
              </div>
            </a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      meta: {
        title: '大谷一良ギャラリー',
        description: '2019年の春、私たちは「北海道を代表するお菓⼦を作る」という目標をもってお菓⼦とブランドの開発を始めました。その時にキーワードにしたのが「⼭とスキー」でした。雪と⼭を想起させるそれらの⾔葉に合うようなイメージを探した先に出会ったのが「アルプ」の表紙を飾った大谷さんの版画でした。',
        type: 'article',
        url: 'https://www.snowsand.jp/gallery/',
      },
    };
  },
  head () {
    return {
      title: this.meta.title + '｜',
      meta: [
        { hid: 'description', name: 'description', content: this.meta.description },
        { hid: 'og:type', property: 'og:type', content: this.meta.type },
        { hid: 'og:title', property: 'og:title', content: this.meta.title + '｜SNOW SAND ＜スノーサンド＞' },
        { hid: 'og:description', property: 'og:description', content: this.meta.description },
        { hid: 'og:url', property: 'og:url', content: this.meta.url },
      ],
    };
  },
};
</script>
